.center{
  justify-content: center;
  // align-items: center;
  margin: 100px 150px;
}

@media (max-width: 768px) {
  .center {
    margin: 2rem 2rem;
  }
}


@media (max-width: 400px) {
  .shrink{
    padding: 10px !important;
  }
}

.enlarge:hover{
  cursor: pointer;
  transform: scale(1.01)
}