@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


body{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  /* background: linear-gradient(180deg, #202729 0%, #1C3458 100%) fixed; */
  background: linear-gradient(180deg, #202729 31.25%, #1C3458 77.08%, #9A3F0C 100%) fixed;
  /* background-color: #202729; */
  color: white;
}


